h2 {
  color: blue;
  font-family: cursive;
}

h3 {
  color: rgb(20, 20, 21);
  font-family: cursive;
}

.home {
  font-family: cursive;
  color: black;
}

.navbar {
  font-family: cursive;
  text-shadow: 10px;
  font: bolder;
  font-weight: 600;
  text-decoration: solid;
  color: rgb(87, 6, 6);
}

.skinny-col th {
  font-size: 12px;
  background-color: #b0d2e2;
}

th {
  font-size: 15px;
}
